.section_cards__wrapper{
  display: flex;
  flex-wrap: wrap;
}
.card_item {
  height: 100%;
  width: 270px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0px 0px 20px 30px;
  &:hover {
    box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
    transition: all 5ms ease-in-out;
    border: 1px solid #c2e8f0;
    .title a {
      color: #23a2be;
    }
  }
}

.new_item_marker {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 64px;
  height: 27px;
  background-color: #48b3cb;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
   .new_item_marker_text {
    color: #ffffff;
    font-family: "Open Sans - Semibold",  sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.11px;
  }
}

.hit_sales {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 88px;
  height: 27px;
  background-color: #ffae2e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  .hit_sales_text {
    color: #ffffff;
    font-family: "Open Sans - Semibold",  sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.11px;
  }
}

.item_image_wrapper {
  width: 100%;
  height: 234px;
  position: relative;
  .item_image {
    width: 100%;
    height: 100%;
  }
}
.item_titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 150px;
}
.rating_block {
  width: 125px;
  height: 25px;
  input[type="radio"] {
    display: none;
  }
  .label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(/images/star.png) no-repeat 50% 0;
    cursor: pointer;
  }
} 
.rating_block .label_rating:hover,
.rating_block .label_rating:hover ~ .label_rating,
.rating_block input[type="radio"]:checked ~ .label_rating {
  background: url(/images/yellow_star.png) no-repeat 50% 0;
}

.item_title {
  .title {
    a {
    color: #282828;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.15px;
    }
  }
}
.dividing_line_block {
  .dividing_line {
    display: block;
    width: 79px;
    height: 1px;
    background-color: #dbdbdb;
  }
}
.price_block {
  .price {
    color: #282828;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.15px;
  }
}
/* Similar goods styles start */

/* Similar goods styles start */
.section_similar_goods__title_block {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  margin-bottom: 20px;
  .section_similar_goods_title {
    color: #282828;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: -0.16px;
  }
}
.section_similar_goods__wrapepr {
  display: flex;
  flex-wrap: wrap;
  // margin-left: 30px;
}

/*  Custom arrow for slider in similar goods section  */ 
// .section_similar_goods__arrow_wrapper {
//   display: flex;
//   justify-content: space-between;
//   width: max-content;
//   margin: 0 auto;
  
// }

.section_similar_goods__arrow_block {
  width: 100%;
  height: 44px;
  .section_similar_goods__arrow_wrapper {
    display: flex;
    justify-content: space-between;
    width: max-content;
    margin: 0 auto;
    #nextSlide,
    #prevSlide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 39px;
      height: 39px;
      background: url('../images/ellipse_btn.png') no-repeat;
    }
    #customDots {
      margin-left: 10px;
    }
    #prevSlide {
      .prev {
        background: url('../images/arrow_prev.png') no-repeat;
        width: 6px;
        height: 10px;
      }
    }
    #nextSlide {
      .next {
        background: url('../images/arrow_next.png') no-repeat;
        width: 6px;
        height: 10px;
      }
    } 
  }
}
/*  Custom arrow for slider in similar goods section  */ 

/* Custom slick dots */ 

.slick-dots {
  position: relative;
  bottom: 0;
  li {
    margin: 0;
    button{
      &::before {
        width: 6px;
        height: 6px;
        color: #cccccc;
      }
    }
  }
  li.slick-active {
    button {
      &::before {
        color: #e44256;
      }
    }
  }
}

/* Custom slick dots */ 
.slick-list .draggable{
  padding: 0px 62px !important;
}


/* Similar goods styles end */