body {
  background: url("/images/background.png") no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.section_cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_item {
  height: 100%;
  width: 270px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0px 0px 20px 30px;
}

.card_item:hover {
  -webkit-box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
          box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
  -webkit-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
  border: 1px solid #c2e8f0;
}

.card_item:hover .title a {
  color: #23a2be;
}

.new_item_marker {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 64px;
  height: 27px;
  background-color: #48b3cb;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.new_item_marker .new_item_marker_text {
  color: #ffffff;
  font-family: "Open Sans - Semibold",  sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.11px;
}

.hit_sales {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 88px;
  height: 27px;
  background-color: #ffae2e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.hit_sales .hit_sales_text {
  color: #ffffff;
  font-family: "Open Sans - Semibold",  sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.11px;
}

.item_image_wrapper {
  width: 100%;
  height: 234px;
  position: relative;
}

.item_image_wrapper .item_image {
  width: 100%;
  height: 100%;
}

.item_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.rating_block {
  width: 125px;
  height: 25px;
}

.rating_block input[type="radio"] {
  display: none;
}

.rating_block .label_rating {
  float: right;
  display: block;
  width: 25px;
  height: 25px;
  background: url(/images/star.png) no-repeat 50% 0;
  cursor: pointer;
}

.rating_block .label_rating:hover,
.rating_block .label_rating:hover ~ .label_rating,
.rating_block input[type="radio"]:checked ~ .label_rating {
  background: url(/images/yellow_star.png) no-repeat 50% 0;
}

.item_title .title a {
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.15px;
}

.dividing_line_block .dividing_line {
  display: block;
  width: 79px;
  height: 1px;
  background-color: #dbdbdb;
}

.price_block .price {
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.15px;
}

/* Similar goods styles start */
/* Similar goods styles start */
.section_similar_goods__wrapepr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Similar goods styles end */
.section_filters__wrapper {
  width: 270px;
  max-height: 380px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.accordion_menu {
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 380px;
  background: #fff;
  border-radius: 4px;
}

li.open {
  overflow: auto;
}

.section_filter__name_filter {
  color: #343434;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.accordion_menu li.open .dropdownlink .rectangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion_menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 45px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.dropdownlink img {
  position: absolute;
  top: 17px;
  left: 16px;
}

.dropdownlink .rectangle {
  right: 12px;
  left: auto;
}

.submenuItems {
  display: none;
}

.submenuItems a {
  display: block;
  color: #444444;
  padding: 12px 12px 12px 45px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.submenuItems a:hover {
  color: #39a6be;
}
/*# sourceMappingURL=style.css.map */