body {
  background: url("/images/background.png") no-repeat;
  background-size: cover;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.main_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards_section_wrapper {
  max-width: 900px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_header__container {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 17%;
}

.sectin_header__container_headline {
  color: #2b2b2b;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -1.5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section_cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_item {
  height: 100%;
  width: 270px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.09);
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0px 0px 20px 30px;
}

.card_item:hover {
  -webkit-box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
          box-shadow: 0 5px 11px 1px rgba(68, 190, 217, 0.36);
  -webkit-transition: all 5ms ease-in-out;
  transition: all 5ms ease-in-out;
  border: 1px solid #c2e8f0;
}

.card_item:hover .title a {
  color: #23a2be;
}

.new_item_marker {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 64px;
  height: 27px;
  background-color: #48b3cb;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.new_item_marker .new_item_marker_text {
  color: #ffffff;
  font-family: "Open Sans - Semibold",  sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.11px;
}

.hit_sales {
  position: absolute;
  top: 12px;
  left: 14px;
  z-index: 1;
  width: 88px;
  height: 27px;
  background-color: #ffae2e;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.hit_sales .hit_sales_text {
  color: #ffffff;
  font-family: "Open Sans - Semibold",  sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.11px;
}

.item_image_wrapper {
  width: 100%;
  height: 234px;
  position: relative;
}

.item_image_wrapper .item_image {
  width: 100%;
  height: 100%;
}

.item_titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.rating_block {
  width: 125px;
  height: 25px;
}

.rating_block input[type="radio"] {
  display: none;
}

.rating_block .label_rating {
  float: right;
  display: block;
  width: 25px;
  height: 25px;
  background: url(/images/star.png) no-repeat 50% 0;
  cursor: pointer;
}

.rating_block .label_rating:hover,
.rating_block .label_rating:hover ~ .label_rating,
.rating_block input[type="radio"]:checked ~ .label_rating {
  background: url(/images/yellow_star.png) no-repeat 50% 0;
}

.item_title .title a {
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.15px;
}

.dividing_line_block .dividing_line {
  display: block;
  width: 79px;
  height: 1px;
  background-color: #dbdbdb;
}

.price_block .price {
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.15px;
}

/* Similar goods styles start */
/* Similar goods styles start */
.section_similar_goods__wrapepr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* Similar goods styles end */
@font-face {
  font-family: 'Arial MT';
  src: url("../fonts/ArialMT.otf");
}

.section_filters__wrapper {
  width: 270px;
  max-height: 380px;
  border: 1px solid #ebebeb;
  background-color: #fbfbfb;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.accordion_menu {
  width: 100%;
  height: 100%;
  max-height: 380px;
}

li.open {
  overflow: auto;
}

.section_filter__name_filter {
  color: #343434;
  font-family: "Arial - Bold MT", Arial;
  font-size: 14px;
  font-weight: bold;
  line-height: 40px;
  padding-left: 20px;
  letter-spacing: 0.14px;
}

.accordion_menu li.open .dropdownlink .rectangle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion_menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  height: 40px;
  font-size: 18px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  color: #212121;
  position: relative;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.dropdownlink img {
  position: absolute;
  top: 17px;
  left: 16px;
}

.dropdownlink .rectangle {
  right: 12px;
  left: auto;
}

.dropdownlink_first {
  border-top: none;
}

.submenuItems {
  display: none;
  overflow-y: scroll;
  height: 100%;
  max-height: 180px;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.submenuItems::-webkit-scrollbar {
  width: 13px;
  height: 65px;
}

.submenuItems::-webkit-scrollbar-thumb {
  background-color: #93deff;
}

.submenuItems::-webkit-scrollbar-track {
  margin-left: 40px;
}

.submenuItems a {
  display: block;
  color: #444444;
  padding: 5px 12px 5px 30px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  font-family: "Arial MT", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.13px;
}

.submenuItems a:hover {
  color: #39a6be;
}

.section_filter__select_size {
  width: 160px;
  height: 30px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
  border: 1px solid #e1e1e1;
  background-color: #f3f3f3;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: -0.7px;
  padding-left: 14px;
  left: 23px;
  position: relative;
}

.section_filter__chooseColor_input {
  width: 160px;
  height: 30px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.14);
  border: 1px solid #e1e1e1;
  background-color: #f3f3f3;
  color: #464646;
  font-family: "Open Sans", Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.7px;
  padding-left: 14px;
  left: 40px;
  position: relative;
}

.apply_filter {
  height: 40px;
  text-align: center;
  border-top: 1px solid #e1e1e1;
  cursor: pointer;
}

.apply_filter span {
  line-height: 40px;
  color: #36a8bf;
  font-family: Arial MT, Arial;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.13px;
}

@media all and (max-width: 1300px) {
  .cards_section_wrapper {
    width: 55%;
  }
}
/*# sourceMappingURL=style.css.map */